@page
@model EDTProjectM1.CreateSeance

@{
    ViewData["Title"] = "Create";
}

<h1>Créer</h1>

<h4>Seance</h4>
<hr />

<div class="row">
    <div class="col-md-4">
        <partial name="_SeanceEditPartial" />
    </div>
</div>

<div>
    <a asp-page="Index">Retourner à la liste des séances</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
